<!DOCTYPE html>
<html lang="en-us">
<head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>
        {% if page.title == "Home" %}
        {{ site.title }} &middot; {{ site.tagline }}
        {% else %}
        {{ page.title }} &middot; {{ site.title }}
        {% endif %}
    </title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/blackdoc.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inter">
    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{ site.baseurl }}public/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="{{ site.baseurl }}public/security-logo-color.png">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
<body>
<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <h1>
                <a class="home-link" href="{{ site.baseurl }}">
                    <img src="{{ site.baseurl }}public/security-logo-color.png"/>
                </a>
            </h1>
            <p class="lead"><span>Cyber Threat Intelligence</span> Onboarding Documentation</p>
        </div>
        <nav class="sidebar-nav">
            <pre style="background:none;">
backend
├── <a href="#indicator-match-rule">Indicator Match Rule</a>
│   ├── about
│   ├── architecture
│   └── executor
│       ├── Boolean filter (v7.12+)
│       ├── Reverse join (v8.1+)
│       └── Percolator (v8.2+)
├── <a href="#investigation-time-enrichments">Investigation Time Enrichments</a>
│   ├── about
│   ├── architecture
│   └── available fields
├── <a href="#ecs-threat-fields">ECS threat.* fields</a>
│   ├── about
│   └── default_threat_index UI setting
├── <a href="#indicator-match-rule-preview">Indicator Match Rule Preview</a>
├── <a href="#prebuilt-indicator-match-rules">Prebuilt Indicator Match Rules</a>
│   ├── filebeat 7.x rule
│   ├── filebeat 8.x rule
│   └── Fleet integrations rule
└── <a href="#detection-engine-key-concepts">Detection Engine: Key Concepts</a>

frontend
├── <a href="#indicator-match-rule">Indicator Match Rule</a>
│   ├── Create UI
│   ├── Edit UI
│   └── Rule Details UI
├── <a href="#indicator-match-rule">Alert Details Flyout</a>
│   ├── CTI on Alert Summary Tab
│   └── Threat Intel Tab
├── <a href="#indicator-match-rule">Threat Intelligence Card</a>
├── <a href="#indicator-match-rule">CTI Row Renderer</a>
├── <a href="#indicator-match-rule">CTI Timeline template</a>
├── <a href="#indicator-match-rule">CTI dashboards</a>
│   ├── Filebeat threat intel dashboards
│   └── Fleet threat intel dashboards
└── <a href="#indicator-match-rule">Host Risk Score Card</a>

setup
├── <a href="#indicator-match-rule">Setting up filebeat threatintel integrations</a>
├── <a href="#indicator-match-rule">Setting up Fleet threat Integrations</a>
└── <a href="#indicator-match-rule">Setting up Host Risk Scoring</a>

general setup
├── <a href="#indicator-match-rule">Setting up ES and kibana</a>
│   └── security solution scripts
├── <a href="#indicator-match-rule">Running Security Solution API Integration tests</a>
├── <a href="#indicator-match-rule">Running Security Solution jest tests</a>
└── <a href="#indicator-match-rule">Running Security Solution cypress tests</a>

performance
├── <a href="#indicator-match-rule">Performance Benchmarking with kbn-alert-load</a>
├── <a href="#indicator-match-rule">Rule Execution Timeline with APM</a>
├── <a href="#indicator-match-rule">Indicator Match Rule SDH troubleshooting guide</a>
├── <a href="#indicator-match-rule">Previous SDHs related to Indicator Match Rules</a>
└── <a href="#indicator-match-rule">Performance Epic</a>

manual regression suites
├── <a href="#indicator-match-rule">Create an alert from an indicator match rule</a>
├── <a href="#indicator-match-rule">Create an investigation time enrichment</a>
├── <a href="#indicator-match-rule">Populate the CTI card</a>
├── <a href="#indicator-match-rule">Populate the Host Risk Score card</a>
├── <a href="#indicator-match-rule">View CTI dashboards</a>
├── <a href="#indicator-match-rule">View Host Risk Score dashboards</a>
├── <a href="#indicator-match-rule">View the CTI row renderer</a>
└── <a href="#indicator-match-rule">Use the CTI timeline template</a>

team
├── <a href="#indicator-match-rule">Contributors</a>
└── <a href="#indicator-match-rule">CTI sync / CTI area sync agenda documents & recordings</a>
            </pre>
        </nav>
    </div>
</div>
<div class="content container">
    {{ content }}
</div>
</body>
</html>
